In [9]:
def abc1(n1, *l):
    return n1+sum(l)

abc1(1,2,3,4)
abc1(3,3,9,n1=5)

TypeError: abc1() got multiple values for argument 'n1'

In [5]:
abc1(n1=5,l=[3,3,9])

TypeError: abc1() got an unexpected keyword argument 'l'

In [23]:
def abc2(*l, n1=0):
    return sum(l)+ n1

abc2(1,9,3,n1=3)

16

In [28]:
def abc3(*l, n1, **d1):
    return int(n1)+sum(l)+sum([v for k,v in d1.items()])

abc3(5,8,8, n1=1,b=2)

24

In [29]:
abc3(1,3,2,n1=7,b=2)

15

# Lambda function:

*  One line function
* anonymous function
* never use before and after

In [38]:
# def fname(p1,p2,..):
#     fbody

#lambda p1,p1,p3: body

abc = lambda x1,x2,x3: x1+x2+x3

abc(3,3,4)

10

## Optional Code we will cover in next quarter

In [31]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1,20, size=(6,3)), columns=["A","B","C"])
df

/home/mqasim/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

    A   B   C
0  14  11   1
1   1   4   6
2   1  13  17
3  15  11   1
4   3   1   4
5  16   6  17

In [34]:
# (A + B) * C

def abc(a,b,c):
    return (a+b)*c

df['Total']= df[['A',"B","C"]].apply(lambda x: abc(*x), axis=1)
df

    A   B   C  Total
0  14  11   1     25
1   1   4   6     30
2   1  13  17    238
3  15  11   1     26
4   3   1   4     16
5  16   6  17    374

In [36]:
a = lambda : 5
a()

5

In [ ]:
task1:
    sort dictionary based on it value
    solve with lambda function
    
    Example:
        {
            "A",20,
            "B":15,
            "C",30
        }
        
    Output:
        {
            "B":15,
            "A":20,
            "C":30
        }

In [62]:
d1 = {
    "C":30,
    "A":20,
    "B":15
    
    }

# for v1 in list:
#     loopBody

#[loopBody for v1 in list]
#{dicBody for key, value in dict.items()}

sorted(d1.items(), key=lambda x:x[1])

[('B', 15), ('A', 20), ('C', 30)]

In [63]:
sorted??

In [68]:
{k:v for k,v in sorted(d1.items(), key=lambda x:x[1])}

{'B': 15, 'A': 20, 'C': 30}

In [81]:
sorted(d1.items(), key=lambda x:x[1])

[('B', 15), ('A', 20), ('C', 30)]

# comprehensive style
-

if logic:
    logic True Block
else:
    logic False Block

logicTrueBlock if logic else logicFalseBlock

In [73]:
if False:
    print("TrueBlock")
else:
    print("FalseBlock")

FalseBlock

In [74]:
print("TrueBlock") if True else print("FalseBlock")

TrueBlock

# List Comprehensive

In [75]:
l = [1,3,4,5,6]
for i in l:
    print(i+2)

3
5
6
7
8

for item in list:
    loopBody

[loopBody for item in list]

In [76]:
l = [1,3,4,5,6]
[i+2 for i in l]

[3, 5, 6, 7, 8]

In [90]:
a = [(lambda x,y:x+y), (lambda x,y:x-y), (lambda x,y:x*y)]
a[2](5,7)

35

# Recursive Function

In [91]:
#!5
1*2*3*4*5

120

In [92]:
def abc(x):
    a = 1
    for i in range(1,x+1):
        a = a* i
    return a

abc(5)

120

In [4]:
def abc(x):
    if x==0:
        return 1
    return abc(x-1)*x
    

abc(5)

120

In [ ]:
4

abc(1)
abc(1)
abc(2)
abc(3)
abc(4)
abc(5)
ans:16